
html {
    background-color: navy;
    margin: 0 auto;
    font-family: Verdana, Tahoma, sans-serif;
}

/*-----------SCREEN 375px -------*/
@media screen and (min-width: 375px) {
    body {
        margin: 0 auto;
        background-color: white;
        width: 375px;
    }
/*--------FONT STYLING----------*/
    header {
        background-color: navy;
        padding: 70px 0px 20px 12px;
        background-image: linear-gradient(to right, blue, navy);
        position: relative;
    }
   
    header h1 {
        color: white;
        font-size: 20px;
        margin: 10px 20px 0px 20px;
    }
   
    header p {
        font-size: 16px;
        color: white;
        margin: 0px 20px 0px 20px;
    }

    h1 {
        font-size: 24px;
    }   
    
    h2 {
        font-size: 18px;
        color: #660033;
    }
   
    h1, h2, h3 {
        font-weight: bold;
        text-transform: uppercase;
    }
    
    main h2 {
        padding-left: 30px;
        margin: 20px 0px 0px 0px;
    }

    dl {
        display: flex;
        margin-top: 0px;
        padding-bottom: 5px;
    }

    dt {
        font-size: 16px;
        color: #660033;
        font-style: italic;
        display: flex;
    }

    dd {
        font-size: 16px;
        color: #660033;
        display: flex;
        margin-left: 10px;
    }

/*----------NAV BAR-------------*/
    nav {
        width: 375px;
        margin: 0 auto;
        position: absolute;
        top: 0;
        height: 70px;
        background-color: blue;
        background-image: linear-gradient(to left, blue, navy);
        z-index: 1;
        text-transform: uppercase;
    }
    nav h2 {
        visibility: hidden;
    }

    nav ul {
        text-align: center;
    }

    ul {
        margin: auto;
        padding: 0;
        list-style: none;
        background-color: blue;
        overflow: hidden;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    li a {
        display: block;
        text-decoration: none;
        color: white;
        padding: 15px;
        
    }
/*------GIVEN CONTENT CODE-------*/
    label {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
    }
    label span {
        background-color: #ffffff;
        display: block;
        height: 2px;
        position: relative;
        transition: background-color .2s ease-out;
        width: 18px;
    }
    label span:before, label span:after {
        background: #ffffff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    label span:before {
        top: 5px;
    }
    label span:after {
        top: -5px;
    }
    input {
        display: none;
    }
    input:checked ~ ul {
        max-height: 500px;
    }
    input:checked ~ label span {
        background: transparent;
    }
    input:checked ~ label span:before {
        transform: rotate(-45deg);
    }
    input:checked ~ label span:after {
        transform: rotate(45deg);
    }
    input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
        top: 0;
    }
 /*---------END OF GIVEN CONTENT CODE----------*/

    [href="#home"] {
        font-weight: bold;
        font-size: 30px;
        text-transform: capitalize;
        font-variant: small-caps;
        position: absolute;
        padding: 15px;
    }

    a:hover,
    input:hover {
        background-color: #660033;
        padding: 15px;
    }

/*-----------TRENDING PLAYLISTS------------*/
    #trending {
        background-color: white;
    }

    #trending h3 {
        margin-top: 0px;
        margin-bottom: 0px;
        color: #660033;
    }  
    
    #trending ::-webkit-scrollbar {
        width: 15px;
    }

    #trending ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 15px #660033;
    }

    #trending ::-webkit-scrollbar-thumb {
        background: #660033;
        border-radius: 5px;
    }

    #trending ::-webkit-scrollbar-thumb:hover {
        background: navy;
    }    
    
    #trending .scroll div {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.753);  
        height: 70px;
        width: 350px;
        top: 250px;
        padding: 10px 0px 2px 10px;
    }

/*-------------CURATED PLAYLISTS------------*/ 
    #curatedplaylists .scroll {
        background-color: #304be2;
    }
 
    #curatedplaylists section {
        background-color: #253ed1;
        text-align: center;
    }

/*---------------YOUR PLAYLISTS-------------*/
    #yourplaylists .scroll {
        background-color: #33CCFF;
    }
    #yourplaylists section {
        background-color: #23b3e4;
        text-align: center;
    }

/*----------CURATED + YOUR PLAYLISTS---------*/
    #yourplaylists ::-webkit-scrollbar,
    #curatedplaylists ::-webkit-scrollbar {
        width: 15px;
    }

    #yourplaylists ::-webkit-scrollbar-track,
    #curatedplaylists ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 15px navy;
    }

    #yourplaylists ::-webkit-scrollbar-thumb,
    #curatedplaylists ::-webkit-scrollbar-thumb {
        background: navy;
        border-radius: 5px;
    }

    #yourplaylists ::-webkit-scrollbar-thumb:hover,
    #curatedplaylists ::-webkit-scrollbar-thumb:hover {
        background: white;
    }     
    
    #yourplaylists h3,
    #curatedplaylists h3 {
        color: white;
        font-size: 18px;
        font-weight: bold;
        margin: 8px 0px -10px 0px;
        padding: 0px 15px 0px 15px;
    }

    #yourplaylists p,
    #curatedplaylists p {
        color: white;
        font-size: 15px;
        margin: 0px;
        padding: 18px;
    }
/*------------------AUDIO------------------*/
    audio::-webkit-media-controls-mute-button {
        background-color: white;
        border-radius: 50%;
    }

    audio::-webkit-media-controls-play-button {
        background-color: white;
        border-radius: 50%;
    }

    audio::-webkit-media-controls-enclosure {
        background-color: rgba(255, 255, 255, 0.589);
    }    
    
    audio {
        position: absolute;
        top: 115px;
        right: 5px;
        z-index: 2;
    }   

/*-----------BUTTONS CLASSES----------*/
    .scroll {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        overflow-x: auto;
        overflow-y: hidden;
    }

    .scroll section {
        margin: 10px;
        position: relative;
    }

    .more {
        font-size: 14px;
        width: 150px;
        display: block;
        text-align: center;
        background-color: #660033;
        color: white;
        border-radius: 5px;
        padding: 10px;
        letter-spacing: .05rem;
        margin: 10px 10px 20px 250px;
    }

    .trending {
        font-size: 14px;
        width: 150px;
        display: block;
        text-align: center;
        background-color: #660033;
        color: white;
        border-radius: 5px;
        padding: 10px;
        letter-spacing: .05rem;
        margin: 10px 10px 20px 650px;
    }

    button:hover {
        cursor: pointer;
        background-color: navy;
    }
/*----------FOOTER----------*/
    footer {
        font-size: 15px;
        color: #660033;
        text-align: center;
        padding: 20px 0px 60px 0px;
    }
}
/*-----------SCREEN 834px -------*/
@media screen and (min-width:834px) {
    body {
        width: 834px;
    }

    nav {
        width: 834px;
    }

    ul {
        overflow: visible;
        position: absolute;
        top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        text-align: center;
    }

    label span, input {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    [href="#home"] {
        position: static;
    }

    label span, input {
        display: none;
        margin: 0px;
    }

    #trending {
        width: 834px;
        grid-column: 1/3;
    }

    #yourplaylists {
        width: 417px;
        grid-column: 1/2;
        float: left;
    }

    #curatedplaylists {
        width: 417px;
        grid-column: 2/3;
        float: right;
    }

    #yourplaylists section,
    #curatedplaylists section {
        height: 127px;
        width: 380px;
    }

    #yourplaylists img,
    #curatedplaylists img {
        float: left;
        margin: 7px;
    }

    #yourplaylists .scroll,
    #curatedplaylists .scroll {
        height: 500px;
        display: grid;
        overflow-x: hidden;
        overflow-y: auto;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: 1fr;
    }

    footer {
        clear: both;
    }
}






